<?xml version='1.0' encoding='utf-8'?>
<widget id="com.meteoragames.infiniterunnerdelta7" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Infinite Runner Delta 7</name>
    <description>
        Infinite Runner Delta 7 is an infinite running game set in a dystopian future. Instead of avoiding enemies and collecting powerups, your goal is to destroy as much as possible!
    </description>
    <author email="support@meteorasolutions.com" href="http://delta7.meteorasolutions.com">
        Meteora Games
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <icon src="icon.png" />
    <splash src="splash.png" />
</widget>
